assets
__pycache__
__pycache__/*
.pytest_cache
*.spec
report.html
.idea/
output/*
temp
Screenshots
venv
env
dist
build
main.spec
RL_Loan_Generator*.exe
RL-Loan-Generator*.exe
RL-Loan-Generator.spec
failed_users.xlsx
migration_log.json